# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
env/
venv/
.venv/




# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment / secrets
.env
.env.local
*.pem
